{% extends "index.html" %}
{% block style %}
<style>
    input{
		width: 200px;
	}
	div{
		padding: 7px;
	}
</style>
{% endblock %}
{% block script%}<script type="text/javascript" src="{{url_for('static', filename='js/db.js')}}"></script>{% endblock %}	
{% block title %}<title>Agenda</title>{% endblock %}
{% block content %}
<div id="contact_list" class="grid-container">
    <div class="grid-item">
        <h1>Agenda</h1>
        <p>Base de Datos para Clientes</p>
        <input type="text" id="search_input" style="padding: 5px; margin: 10px; width: 630px;" onkeyup="search_table()" placeholder="Buscar">
        <div class="inv-table">
            <table class="cleartable" id="tbl1">
                <thead>
                    <th style="width: 20px;"></th>
                    <th style="width: 73px;">NIT</th>
                    <th style="width: 130px;">Nombre</th>
                    <th style="width: 350px;">Dirección</th>
                    <th style="width: 53px;">Tel.</th>
                </thead>
                <tbody>
    
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="grid-item">
            <h1>Añadir</h1>
            <form>
                <div><label for="nit_client">NIT: </label></div>	
                <div><input id="nit_client" required></div>
                <div><label for="address_client">Dirección: </label></div>
                <div><input id="address_client" required></div>
                <div><label for="name_client">Nombre: </label></div>
                <div><input id="name_client" type="text" required></div>
                <div><label for="_tel">Teléfono: </label></div>
                <div><input id="_tel" type="tel"></div>
            </form>
            <button onclick="addNIT()">Agregar</button>
        </div>
        <div style="height: 10px;"></div>
        <div class="grid-item">
            <h1>Actualizar</h1>
            <form>
                <div><p>NIT: </p></div>	
                <div><p id="nit_update"></p></div>
                <div><label for="address_update">Dirección: </label></div>
                <div><input id="address_update" required></div>
                <div><label for="name_update">Nombre: </label></div>
                <div><input id="name_update" type="text" required></div>
                <div><label for="_tel_update">Teléfono: </label></div>
                <div><input id="_tel_update" type="tel"></div>
            </form>
            <button onclick="updateDb()">Actualizar</button>
        </div>
    </div>
    <script>
    window.addEventListener('load', function() {
        getAll()

        document.getElementById('nit_update').innerHTML ='';
        document.getElementById('address_update').value = '';
        document.getElementById('name_update').value = '';
        document.getElementById('_tel_update').value = '';
    })
    
    function getAll(){
        var table = document.getElementById("tbl1");
        var tablebody = table.getElementsByTagName('tbody')[0];
        if (tablebody.rows.length == 0){
            console.log('Empty Table');
        }else{
            console.log('Cleaning Table')
            tablebody.innerHTML = '';     
        }
        firebase.database().ref('/clientes_nit/').once('value',
            function(AllRecords){
                AllRecords.forEach(
                    function(CurrentRecord){
                        var nit = CurrentRecord.key;
                        var name = CurrentRecord.val().name;

                        var address = CurrentRecord.val().address;

                        var telef = CurrentRecord.val().tel;
                        
                        var n = tablebody.rows.length;
                        var row = tablebody.insertRow(n);

                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1); 
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);

                        cell1.innerHTML = "<a href='#' onclick='selectItem("+n+")'><i class='fas fa-edit'></i></a>";
                        cell2.innerHTML = nit;
                        cell3.innerHTML = name;
                        cell4.innerHTML = address;
                        cell5.innerHTML = telef;
                    }
                );
            }
        );
    }

    function selectItem(n){
        var table = document.getElementById("tbl1");
        var tablebody = table.getElementsByTagName('tbody')[0];
        document.getElementById('nit_update').innerHTML =tablebody.rows[n].cells[1].innerHTML;
        document.getElementById('address_update').value = tablebody.rows[n].cells[2].innerHTML;
        document.getElementById('name_update').value = tablebody.rows[n].cells[3].innerHTML;
        document.getElementById('_tel_update').value = tablebody.rows[n].cells[4].innerHTML;
    }

    function updateDb(){
        database = firebase.database();
        var url_code = document.getElementById('nit_update').innerHTML;
        var _address =  document.getElementById('address_update').value;
        var _name = document.getElementById('name_update').value;
        var _tel = document.getElementById('_tel_update').value;
        //console.log(barcode, '+', concepto, '+', price);
        try{
            if (_address !=""){
                if (_name != ""){
                    database.ref('/clientes_nit/' + url_code).update({
                        address : _address,
                        name : _name,
                        tel : _tel
                    });
                    document.getElementById('nit_update').innerHTML ='';
                    document.getElementById('address_update').value = '';
                    document.getElementById('name_update').value = '';
                    document.getElementById('_tel_update').value = '';
                    getAll()
                }else{
                    alert('Precio Unitario DEBE de ser llenado')
                }
                
            }else{
                alert('Concepto DEBE de ser llenado')
            }
            
        }catch (error) {
            console.error(error);
            alert("Database Error");
        }
    }

    function search_table(){
        // Declare variables
        var input, filter, table, tr, td, i, txtValue, txtValue2, txtValue3, txtValue4, tablebody;
        input = document.getElementById("search_input");
        filter = input.value.toUpperCase();
        table = document.getElementById("tbl1");
        tablebody = table.getElementsByTagName('tbody')[0];
        tr = tablebody.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue2 = tr[i].getElementsByTagName("td")[2].textContent || tr[i].getElementsByTagName("td")[2].innerText;
                txtValue3 = tr[i].getElementsByTagName("td")[3].textContent || tr[i].getElementsByTagName("td")[3].innerText;
                txtValue4 = tr[i].getElementsByTagName("td")[4].textContent || tr[i].getElementsByTagName("td")[4].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }else if(txtValue2.toUpperCase().indexOf(filter) > - 1){
                    tr[i].style.display = "";
                }else if(txtValue3.toUpperCase().indexOf(filter) > - 1){
                    tr[i].style.display = "";
                }else if(txtValue4.toUpperCase().indexOf(filter) > - 1){
                    tr[i].style.display = "";
                }else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
    </script>
</div>
{% endblock %}