{% extends "index.html" %}
{% block style%}
<style>
    table{
        border-collapse:initial;
    }

    input{
        width: 50px;
    }

	div{
		padding: 7px;
	}

    .deliver_container{
        height: 250px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
    }

    .check_button{
        font-size: small;
        padding: 2px;
    }

    .check_button:hover{
        background-color: gray !important;
    }

    .deliver_container div{
        border: 1px solid #28282b;
        background-color: #28282b;
        border-radius: 5px;
    }
</style>
{% endblock %}
{% block script%}<script type="text/javascript" src="{{url_for('static', filename='js/db.js')}}"></script>{% endblock %}	
{% block title %}<title>Inventario</title>{% endblock %}
{% block content %}
<div class="grid-container">
    <div class="grid-item" id="blur">
        <h1>Inventario</h1>
        <div>
            <i class="fas fa-search"></i>
            <input type="text" id="search_input" style="padding: 5px; margin: 10px; width: 550px;" onkeyup="searchTable()" placeholder="Buscar">
        </div>
        <button onclick="toggle()">Pedidos en Camino</button>
        <div class="inv-table">
            <table id="inv" contenteditable="false">
                <th style="width: 20px;"></th>
                <th style="width: 130px;">Código</th>
                <th style="width: 350px;">Nombre</th>
                <th style="width: 53px; font-size: small;">Precio</th>
                <th style="width: 53px; font-size: small;">Cantidad</th>
            </table>
        </div>
        <p id="tbl_length" style="text-shadow:2px 2px 4px #003153; font-weight: 600;">No. de Códigos de Barras:</p>
    </div>
    <div>
        <div class="grid-item">
            <h1>Añadir Producto</h1>		
            <form id="form-new-product">
                <div><label for="barcode">Código de Barras: </label></div>					
                <div><input id="barcode" type="text" style="width: 200px;" onkeydown="return(event.keyCode!=13);" required></div>	
                <div><label for="_conc">Concepto: </label></div>
                <div><input id="_conc" type="text" style="width: 200px;" onkeydown="return(event.keyCode!=13);" required></div>	
                <div>
                    <label for="cu">Precio Unitario: </label>					
                    <input id="cu" type="number" onkeydown="return(event.keyCode!=13);" step="0.01" required>
                </div>
                <div>
                    <label for="qua">Cantidad: </label>
                    <input type="number" name="qua" id="qua" step="1" onkeydown="return(event.keyCode!=13);">
                </div>
            </form>
            <button onclick="addProduct()">Agregar</button>
        </div>
        <div></div>
        <div class="grid-item">
            <h1>Actualizar Producto</h1>
            <form>
                <div><p id="barcode_id"></p></div>
                <div><label for="_conc_update">Concepto: </label></div>
                <div><input id="_conc_update" type="text" style="width: 200px;" onkeydown="return(event.keyCode!=13);" required></div>	
                <div>
                    <label for="qua_upt">Cantidad: </label>
                    <input type="number" name="qua_upt" id="qua_upt" step="1">
                </div>
                <div>
                    <label for="cu_upt">Precio General: </label>					
                    <input id="cu_upt" type="number" onkeydown="return(event.keyCode!=13);" step="0.01" required>
                </div>
                <div>
                    <label for="cu_sch_upt">Precio Escuelas: </label>
                    <input type="number" name="cu_sch_upt" id="cu_sch_upt" step="0.01">
                </div>
                <div>
                    <label for="cu_buy_upt">Precio de Comprea: </label>					
                    <input id="cu_buy_upt" type="number" onkeydown="return(event.keyCode!=13);" step="0.01" required>
                </div>
                <div>
                    <label for="cu_a_upt">Precio a: </label>
                    <input type="number" name="cu_a_upt" id="cu_a_upt" step="0.01">
                </div>
            </form>
            <button onclick="updateProduct()">Actualizar</button>
        </div>
    </div>
</div>
<div id="popup">
    <h1>Pedidos en Camino</h1>
    <div class="deliver_container" id="dcont1">
        {%for i in range(0, len)%}
        <div>
            <button class="check_button" onclick="checkDiv('variable_{{i}}')">&#10004; Entregado</button>
            <button class="check_button" onclick="deleteDiv('variable_{{i}}')">Borrar</button>
            <button class="check_button">Actualizar</button>
            <p>Descripción: </p>
            <!-- DESCRIPCIÓN -->
            <p name="desc">{{Pedidos[i]['desc']}}</p> 
            <p>Fecha de entrega: </p>
            <!-- FECHA EN LA QUE ES ESPERADO QUE VENGA -->
            <p name="expec">{{Pedidos[i]['expec']}}</p>
            <p>Cantidad: </p>
            <!-- CANTIDAD -->
            <p name="qant">{{Pedidos[i]['qant']}}</p>
            <p>Observaciones: </p>
            <!-- OBSERVACIONES -->
            <p name="obs">{{Pedidos[i]['obs']}}</p>
        </div>
        {%endfor%}
    </div>
    <div id="delivery_input" style="visibility: hidden; height: 0px;">
        <p id="div_index" style="visibility: hidden;"></p>
        <p></p>
        <input type="text">
        <p></p>
        <input type="date">
        <p></p>
        <textarea name="" id="input_exc" cols="30" rows="10"></textarea>
        <p></p>
        <input type="number">
        <p></p>
        <button onclick="openInputField(false)">Terminar</button>
    </div>
    <button onclick="exportingDeliveries()">Cerrar</button>
</div>
<script>
    window.addEventListener('load', function() {
        getAllProducts();
    })

    function openInputField(bool){
        if (bool) {
            document.getElementById('delivery_input').style.visibility = 'visible';
            document.getElementById('delivery_input').style.height = 'auto';
        } else {
            document.getElementById('delivery_input').style.visibility = 'hidden';
            document.getElementById('delivery_input').style.height = '0px';
        }
    }

    function toggle(){
        let blur, popup;
        blur = document.getElementsByClassName('grid-container');
        blur[0].classList.toggle('active');
        popup = document.getElementById('popup');
        popup.classList.toggle('active');
    }

    function searchTable(bool = true, n = 0){
        let input, filter, table, tr, td, i, txtValue, txtValue2, txtValue3, tablebody, bar_array;
        if (bool){
            input = document.getElementById("search_input");
            filter = input.value.toUpperCase();
        } else {
            input = document.getElementById('dcont1').getElementsByTagName('div')[n].getElementsByTagName('p')['desc'].innerText;
            filter = input.toUpperCase();
        }
        bar_array = [];
        
        table = document.getElementById("inv");
        tablebody = table.getElementsByTagName('tbody')[0];
        tr = tablebody.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue2 = tr[i].getElementsByTagName("td")[2].textContent || tr[i].getElementsByTagName("td")[2].innerText;
                txtValue3 = tr[i].getElementsByTagName("td")[3].textContent || tr[i].getElementsByTagName("td")[3].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }else if(txtValue2.toUpperCase().indexOf(filter) > - 1){
                    tr[i].style.display = "";
                    bar_array.push(txtValue);
                }else if(txtValue3.toUpperCase().indexOf(filter) > - 1){
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        return bar_array;
    }
</script>
{% endblock %}